// brown-#845d26
// blue with rugged #226778
// cream-#bfcdb8
// yelloe and brown#db8543
// #6998a3
// #82766d
// #601c0b
// #aa6b23
// #543a29
// #998c21

$color-header-primary:#bcd6db;
.App{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;

    .navigation{
        background-color:$color-header-primary;
        border-radius: 15px;
        &__img{
            padding: px 10px;
        }
    }
}