// brown-#845d26
// blue with rugged #226778
// cream-#bfcdb8
// yelloe and brown#db8543
// #6998a3
// #82766d
// #601c0b
// #aa6b23
// #543a29
// #998c21

$color-header-primary:#bcd6db;
#root {
    font-size: 10px;
    font-family: "Lato",sans-serif;
    box-sizing: border-box;
}
.App{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;

    .navigation{
        background-color:$color-header-primary;
        // border-radius: 15px;
        border-top-left-radius :15px;
        border-top-right-radius :15px;
        &__img{
            padding: 4px 10px;
        }
    }
}